<meta charset="UTF-8">
<title>Exemplo ejs</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://use.fontawesome.com/6fc2e49656.js"></script>
<style>
    body{
        padding-top:50px;
    }
    .menu {
        background-color:burlywood;
    }
</style>