<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../templates/head %>
</head>
<body class="container">

<header>
    <% include ../templates/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">
            <div class="jumbotron">
                <h1>É 'easy'</h1>
                <p>Esse é um exemplo de utilização de node com Express, usando a renderização das paginas com ejs (Embedded JavaScript templates)</p>
                <p>Essa é um app de exemplo do curso de fundamentos em node.js</p>
                <p>Propriedade da CAWT informática ágil</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h3>Barra Lateral</h3>
                <a href="#"><i class="fa fa-edit fa-2x">Editar</i></a><br/>
                <a href="#"><i class="fa fa-user fa-2x">Cadastrar</i></a><br/>
                <a href="#"><i class="fa fa-eraser fa-2x">Excluir</i></a><br/>

            </div>
        </div>

    </div>
</main>

<footer>
    <% include ../templates/footer %>
</footer>

</body>
</html>