<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../templates/head %>
</head>
<body class="container">

<header>
    <% include ../templates/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>É 'easy'</h1>
        <p>Bem vindo ao template usando ejs</p>
    </div>
</main>

<footer>
    <% include ../templates/footer %>
</footer>

</body>
</html>